﻿@model QLDoanTruong.Model.Activity

@{
    ViewBag.Title = "Cập nhật hoạt động";
}

@section styles
{
    <!-- Daterange picker -->
    <link href="~/Assets/addition/css/daterangepicker.css" rel="stylesheet" />
}
@section scripts
{
    <!--CKEditor-->
    <script src="~/Assets/ckeditor/ckeditor.js"></script>
    <!-- daterangepicker -->
    <script src="~/Assets/addition/js/moment.js"></script>
    <script src="~/Assets/addition/js/daterangepicker.js"></script>
    <script src="~/Assets/addition/js/my-upload.js"></script>

    <script>
        $(document).ready(function () {
            @if (ViewBag.Success != null)
{
                    @Html.Raw(ViewBag.Success?"notifySuccess('Đã cập nhật thành công!');":"notifyError('Đã có lỗi! Bạn vui lòng kiểm tra lại thông tin đã nhập!');");
}
            $('input[type="file"]').change(function () {
                var error = getErrorUploadFile('input[type="file"]');
                if (error != '') {
                    notifyError(error);
                    $(this).val('');
                }
                $('#txtFile').val($(this).val());
            });

            //load CKEditor
            CKEDITOR.replace("Content");

            //Date range picker
            $('#reservation').daterangepicker({
                autoApply: true,
                locale:
                   {
                       format: 'DD/MM/YYYY',
                       daysOfWeek: [
                              "T2",
                              "T3",
                              "T4",
                              "T5",
                              "T6",
                              "T7",
                              "CN"
                       ],
                       monthNames: [
                            "Tháng 1",
                            "Tháng 2",
                            "Tháng 3",
                            "Tháng 4",
                            "Tháng 5",
                            "Tháng 6",
                            "Tháng 7",
                            "Tháng 8",
                            "Tháng 9",
                            "Tháng 10",
                            "Tháng 11",
                            "Tháng 12",
                       ],
                   },
                startDate: '@ViewBag.StartDate',
                endDate: '@ViewBag.EndDate',
                opens: 'right'
            });
            //Load StaffID
            $('#UnitID').change(function () {
                $('#YouthUnionMemberStaffID').children('option').remove();
                $.post("@Url.Action("GetLeader")",
                    { "unitID": $(this).val() },
                    function (result) {
                        //console.log(result);
                        $.each(result, function (index, item) {
                            $('#YouthUnionMemberStaffID').append($('<option>', {
                                value: item.MemberID,
                                text: item.Lastname + " " + item.Firstname + " - " + item.YouthUnionMemberCode
                            }));
                        });

                    }, 'json');
            });
        });
    </script>
}


@using (Html.BeginForm("Edit", "Activity", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @*<div class="form-group">
                @Html.LabelFor(model => model.ActivityCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ActivityCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ActivityCode)
                </div>
            </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Tên Hoạt động <span class="required-field">*</span></label>
               <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        @if (ViewBag.UnitID != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.UnitID, "Đơn vị", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("UnitID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UnitID)
                </div>
            </div>
        }

        <div class="form-group">
            <label class="control-label col-md-2">Cán bộ phụ trách <span class="required-field">*</span></label>
              <div class="col-md-10">
                @*<select class="form-control input-validation-error" data-val="true" data-val-required="Cán bộ phụ trách không thể để trống" id="YouthUnionMemberStaffID" name="YouthUnionMemberStaffID"></select>*@
                @Html.DropDownList("YouthUnionMemberStaffID", null, new { @class = "form-control input-validation-error" })
                @Html.ValidationMessageFor(model => model.YouthUnionMemberStaff)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Score, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Score, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Score)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Thời gian</label>
            <div class="col-md-10">
                <!--Date range-->
                <div class="daterangepicker dropdown-menu ltr show-calendar opensleft" style="top: 565px; right: 25.5px; left: auto; display: none;">
                    <div class="calendar left">
                        <div class="daterangepicker_input">
                            <input class="input-mini form-control active" type="text" name="daterangepicker_start" value="">
                            <i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
                            <div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div>
                        </div>
                        <div class="calendar-table">
                            <table class="table-condensed"><thead><tr><th class="prev available"><i class="fa fa-chevron-left glyphicon glyphicon-chevron-left"></i></th><th colspan="5" class="month">Feb 2018</th><th></th></tr><tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr></thead><tbody><tr><td class="weekend off available" data-title="r0c0">28</td><td class="off available" data-title="r0c1">29</td><td class="off available" data-title="r0c2">30</td><td class="off available" data-title="r0c3">31</td><td class="available" data-title="r0c4">1</td><td class="available" data-title="r0c5">2</td><td class="weekend available" data-title="r0c6">3</td></tr><tr><td class="weekend available" data-title="r1c0">4</td><td class="available" data-title="r1c1">5</td><td class="available" data-title="r1c2">6</td><td class="available" data-title="r1c3">7</td><td class="available" data-title="r1c4">8</td><td class="available" data-title="r1c5">9</td><td class="weekend available" data-title="r1c6">10</td></tr><tr><td class="weekend available" data-title="r2c0">11</td><td class="available" data-title="r2c1">12</td><td class="available" data-title="r2c2">13</td><td class="available" data-title="r2c3">14</td><td class="available" data-title="r2c4">15</td><td class="available" data-title="r2c5">16</td><td class="weekend available" data-title="r2c6">17</td></tr><tr><td class="weekend available" data-title="r3c0">18</td><td class="available" data-title="r3c1">19</td><td class="available" data-title="r3c2">20</td><td class="available" data-title="r3c3">21</td><td class="today active start-date active end-date available" data-title="r3c4">22</td><td class="available" data-title="r3c5">23</td><td class="weekend available" data-title="r3c6">24</td></tr><tr><td class="weekend available" data-title="r4c0">25</td><td class="available" data-title="r4c1">26</td><td class="available" data-title="r4c2">27</td><td class="available" data-title="r4c3">28</td><td class="off available" data-title="r4c4">1</td><td class="off available" data-title="r4c5">2</td><td class="weekend off available" data-title="r4c6">3</td></tr><tr><td class="weekend off available" data-title="r5c0">4</td><td class="off available" data-title="r5c1">5</td><td class="off available" data-title="r5c2">6</td><td class="off available" data-title="r5c3">7</td><td class="off available" data-title="r5c4">8</td><td class="off available" data-title="r5c5">9</td><td class="weekend off available" data-title="r5c6">10</td></tr></tbody></table>
                        </div>
                    </div><div class="calendar right">
                        <div class="daterangepicker_input">
                            <input class="input-mini form-control" type="text" name="daterangepicker_end" value="">
                            <i class="fa fa-calendar glyphicon glyphicon-calendar"></i><div class="calendar-time" style="display: none;"><div></div><i class="fa fa-clock-o glyphicon glyphicon-time"></i></div>
                        </div><div class="calendar-table"><table class="table-condensed"><thead><tr><th></th><th colspan="5" class="month">Mar 2018</th><th class="next available"><i class="fa fa-chevron-right glyphicon glyphicon-chevron-right"></i></th></tr><tr><th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th></tr></thead><tbody><tr><td class="weekend off available" data-title="r0c0">25</td><td class="off available" data-title="r0c1">26</td><td class="off available" data-title="r0c2">27</td><td class="off available" data-title="r0c3">28</td><td class="available" data-title="r0c4">1</td><td class="available" data-title="r0c5">2</td><td class="weekend available" data-title="r0c6">3</td></tr><tr><td class="weekend available" data-title="r1c0">4</td><td class="available" data-title="r1c1">5</td><td class="available" data-title="r1c2">6</td><td class="available" data-title="r1c3">7</td><td class="available" data-title="r1c4">8</td><td class="available" data-title="r1c5">9</td><td class="weekend available" data-title="r1c6">10</td></tr><tr><td class="weekend available" data-title="r2c0">11</td><td class="available" data-title="r2c1">12</td><td class="available" data-title="r2c2">13</td><td class="available" data-title="r2c3">14</td><td class="available" data-title="r2c4">15</td><td class="available" data-title="r2c5">16</td><td class="weekend available" data-title="r2c6">17</td></tr><tr><td class="weekend available" data-title="r3c0">18</td><td class="available" data-title="r3c1">19</td><td class="available" data-title="r3c2">20</td><td class="available" data-title="r3c3">21</td><td class="available" data-title="r3c4">22</td><td class="available" data-title="r3c5">23</td><td class="weekend available" data-title="r3c6">24</td></tr><tr><td class="weekend available" data-title="r4c0">25</td><td class="available" data-title="r4c1">26</td><td class="available" data-title="r4c2">27</td><td class="available" data-title="r4c3">28</td><td class="available" data-title="r4c4">29</td><td class="available" data-title="r4c5">30</td><td class="weekend available" data-title="r4c6">31</td></tr><tr><td class="weekend off available" data-title="r5c0">1</td><td class="off available" data-title="r5c1">2</td><td class="off available" data-title="r5c2">3</td><td class="off available" data-title="r5c3">4</td><td class="off available" data-title="r5c4">5</td><td class="off available" data-title="r5c5">6</td><td class="weekend off available" data-title="r5c6">7</td></tr></tbody></table></div>
                    </div><div class="ranges">
                        <div class="range_inputs">
                            <button class="applyBtn btn btn-sm btn-success" type="button">OK</button>
                            <button class="cancelBtn btn btn-sm btn-default" type="button">Hủy</button>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" name="DateRange" class="form-control pull-right" id="reservation">
                </div>
                <!--End daterange-->

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @row = 100 })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Document, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <input name="txtFile" value="@Model.Document" placeholder="Chọn tệp .doc, docx, .pdf, .xls, .xlsxx..." type="text" readonly="readonly" id="txtFile" class="form-control">
                    <span class="group-span-filestyle input-group-btn">
                        <button id="btnBrowse" type="button" value="Chọn tệp" class="btn btn-primary" style="padding:6px 12px !important; border-radius: 0"
                                onclick="document.getElementById('fileUpload').click();">
                            <i class="fa fa-folder-open"></i>
                        </button>
                    </span>
                </div>
                <label> Chọn tệp không quá 15MB! </label>
                <input type="file" style="display:none" accept=".pdf, .doc, .docx, image/*, .xls, .xlsx" name="file" id="fileUpload" />

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

