﻿@model QLDoanTruong.Model.ViewModel.ChangePasswordViewModel


    @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "divPassword", OnBegin = "notifyLoading('Đang xử lý')" }, new { @id = "ChangePassword" }))
    {

        if (ViewBag.Success != null)
        {
            <script>
    @Html.Raw(ViewBag.Success ? "notifySuccess('Đã thêm thành công!');" : "notifyError('Đã có lỗi! Bạn vui lòng kiểm tra lại thông tin đã nhập!');");
            </script>
        }

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = true, @Name = "Username" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Mật khẩu</label>
                <div class="col-md-10">
                    <input type="password" id="password" name="Password" class="form-control" />

                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Nhập lại mật khẩu</label>
                <div class="col-md-10">
                    <input type="password" name="ConfirmPassword" id="confirm-password" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
