﻿@using QLDoanTruong.Common
@model QLDoanTruong.Model.YouthUnionMember

@{
    ViewBag.Title = "Cập nhật tài khoản";
}


@section scripts{

    <script type="text/javascript">
        $(function () {


            @if (ViewBag.Success != null)
{
            @Html.Raw(ViewBag.Success?"notifySuccess('Đã thêm thành công!');":"notifyError('Đã có lỗi! Bạn vui lòng kiểm tra lại thông tin đã nhập!');");
}


            //nếu type là CBĐoàn trường sẽ ẩn Lớp và đơn vị
            $('#Type').change(function () {
                if ($(this).val() == '@ConstraintUnionMemberType.STAFF')
                    $('.unit').hide();
                else
                    $('.unit').show();
                $('#FacultyID').trigger("change");
            });

            //Load Class
            $('#FacultyID').change(function () {
                $('#YouthUnionClassID').children('option').remove();
                $.post("@Url.Action("GetClasses")",
                { facultyID: $(this).val(), typeMember: $('#Type').val() },
                function (result) {
                    //console.log(result);
                    $.each(result, function (index, item) {
                        $('#YouthUnionClassID').append($('<option>', {
                            value: item.ID,
                            text: item.Name
                        }));
                    });

                }, 'json');
            });

            $('#Type').trigger("change");



            // validate signup form on keyup and submit
            $("#ChangePassword").validate({
                rules: {
                    Username: {
                        required: true,
                    },
                    Password: {
                        required: true,
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#password"
                    },
                    //email: {
                    //    required: true,
                    //    email: true
                    //},

                },
                messages: {
                    Username: {
                        required: "Tên đăng nhập không được để trống",
                    },
                    Password: {
                        required: "Mật khẩu không đc để trống",
                    },
                    ConfirmPassword: {
                        required: "Mật khẩu không đc để trống",
                        equalTo: "Mật khẩu không trùng nhau"
                    }
                }
            });

        });


    </script>
}


<div class="tab-control">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tabs-1">Thông tin tài khoản</a></li>

        <li><a data-toggle="tab" href="#tabs-2">Đổi mật khẩu</a></li>
    </ul>
    <div class="tab-content">
        <div id="tabs-1" class="tab-pane fade in active">
            <div id="divInfoAccount">
                @using (Html.BeginForm("EditPersonal", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.ID)
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Username, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.User.Username, new { @class = "form-control", @readonly = true, @Name = "Username" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Nhóm quyền</label>
                        <div class="col-md-10">
                            @Html.DropDownList("GroupUserID", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Type", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Lastname, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Lastname)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Firstname, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Firstname)
                        </div>
                    </div>

                    <div class="unit">
                        <div class="form-group">
                            <label class="control-label col-md-2">Liên Chi đoàn</label>
                            <div class="col-md-10">
                                @Html.DropDownList("FacultyID", null, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Chi đoàn</label>
                            <div class="col-md-10">
                                <select class="form-control" name="YouthUnionClassID" id="YouthUnionClassID"></select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.YouthUnionMemberCode, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.YouthUnionMemberCode, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(model => model.YouthUnionMemberCode)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DateOfBirth)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, "1") Nam
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, "0") Nữ
                            </label>
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RaceID, "Dân tộc", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("RaceID", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RaceID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ReligionID, "Tôn giáo", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ReligionID", null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ReligionID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.HomeTown, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.HomeTown, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.HomeTown)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentAddress, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.CurrentAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CurrentAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PermanentAddress, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PermanentAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PermanentAddress)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RelativeName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.RelativeName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RelativeName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RelativePhone, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.RelativePhone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.RelativePhone)
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content(QLDoanTruong.Common.ConstraintName.AVATAR_DIRECTORY_PATH+Model.Photo)" alt="@Html.DisplayFor(model=>model.Firstname)" id="Photo" />
                                <input type="file" id="Photo" name="file" />
                                @Html.ValidationMessageFor(model => model.Photo)
                            </div>
                        </div>*@

                    <div class="form-group">
                        @Html.LabelFor(model => model.YouthUnionCardNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.YouthUnionCardNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.YouthUnionCardNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateIntoYouthUnion, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DateIntoYouthUnion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DateIntoYouthUnion)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateIntoParty, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DateIntoParty, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DateIntoParty)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IDCardNo, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.IDCardNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDCardNo)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DateOfIssue, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.DateOfIssue, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DateOfIssue)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PlaceOfIssue, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PlaceOfIssue, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PlaceOfIssue)
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

                }
            </div>
        </div>

        <div id="tabs-2" class="tab-pane fade">

            <div id="divPassword">
              @{Html.RenderAction("ChangePassword", new { id = ViewBag.ID, username = ViewBag.Username });}
            </div>

        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Trở về", "Index")
</div>
