﻿.main-section {
    margin-top:  20px;
}

.panel-default>.panel-heading {background-color:  #3c8dbc;}

#title-panel {
    color: white;
    text-transform: uppercase;
}

div#main-menu {
    margin-top:  50px;
}

.item-title>h1 {
    font-family: Arial;
    font-weight: 700;
    font-size:  17px;
    text-align:  center;
}
.item-title>h1:hover{
    text-decoration:none;
}
.item-icon img{
    width: 96px;
    height:96px;
        vertical-align: middle;
        margin-left:0px;
}
.item-image img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: 0.3s;
    opacity: 0.3;
}
.item-thumb {
    border: 1px solid #2980b9;
    background: white;
    margin: 25px 10px 25px 10px;
    width: 85%;
}
.item-image {
    height: auto;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0 0 0;
}
.item-icon {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

img.user-image
{
    margin-left:0px;
}


.user-menu img{
    margin-left:0px;
}