/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

.form-control {
    border: 1px solid #3c8dbc;
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}
/* Sections
========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */



code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    border-radius: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    border-radius: 0;
}

    /**
 * Remove the inner border and padding in Firefox.
 */

    button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner,
    [type="reset"]::-moz-focus-inner,
    [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
        border-radius: 0;
    }

    /**
 * Restore the focus styles unset by the previous rule.
 */

    button:-moz-focusring,
    [type="button"]:-moz-focusring,
    [type="reset"]:-moz-focusring,
    [type="submit"]:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

    /**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

    [type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */
a:hover {
    color: #0080FF !important;
}

[hidden] {
    display: none;
}

#header {
    background: #0080FF;
}

#conttent h3 {
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin: 0px;
    padding: 0px;
}

.main-section {
    margin-top: 36px;
}

div#conttent {
    min-height: 576px;
}

#conttent .info {
    border-bottom: 1px solid;
    border-color: #A4A4A4;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#conttent .thanhtich {
    margin: 10px 0px;
}

#conttent .info:last-child {
    border: none;
}

#conttent .list-title > ul > li {
    list-style-type: none;
    line-height: 25px;
}

    #conttent .list-title > ul > li > b {
        padding-right: 10px;
        font-size: 13px;
        color: #FF8000;
    }
/*My custom*/
#header .logo a,
#header .logo .text-header {
    display: inline-block;
    vertical-align: middle;
}

    #header .logo .text-header p {
        margin: 0px;
        color: #fff;
        font-weight: 700;
    }

        #header .logo .text-header p:first-child {
            font-weight: 700;
        }

#header .menu-top {
    text-align: right;
    padding: 20px 0px;
}

.xephang {
    margin-top: 10px;
}

.footer-about span {
    padding-right: 10px;
}

#header .nav > li {
    display: inline-block;
}

    #header .nav > li > a {
        color: #fff;
    }

        #header .nav > li > a > span {
            padding-right: 5px;
        }

/*#conttent .title-text > h3 {
    font-size: 20px;
    color: #fff;
    padding-left: 20px;
}

#conttent .title-left > h3 {
    color: #fff;
}

#conttent .noidung {
    margin-bottom: 10px;
}

#conttent .xephang b {
    font-size: 12px;
}

#conttent .xephang tr td span {
    font-weight: 700;
}

#conttent .new_note > p {
    font-style: italic;
    font-weight: bold;
}

#conttent .news {
    padding-top: 20px;
}*/

#conttent .banner-img img {
    width: 100%;
    margin-bottom: 10px;
}

.mobile-menu {
    display: none;
}

#conttent .list-title {
    margin-top: 10px;
}

/*RESPONSIVE*/


/*login-after*/

/*============*/
span.auto-hide, .subpage-auto-hide {
    font-family: arial;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 400;
    padding-left: 10px;
}

.subpage-logo-header {
    padding-bottom: 7px;
    width: 37px;
    margin-top: -5px;
    margin-left: 74px;
}

.logo-header {
    padding-bottom: 7px;
    width: 100px;
    margin-top: -5px;
    margin-left: 74px;
}

.title-top {
}

    .title-top h1 {
        font-family: arial;
        text-transform: uppercase;
        font-size: 20px;
        padding-top: 15px;
        color: #ffffff;
        font-weight: bold;
        line-height: 0;
    }

@media (max-width: 1010px) {
    .title-top {
        margin-top: 43px;
    }

    .p-t-md, .p-y-md {
        padding-top: 188px !important;
    }
}

@media (max-width: 768px) {
    h1.auto-hide {
    }
}

@media (max-width: 767px) {
    .subpage-auto-hide {
        display: none;
    }
}

@media (max-width: 440px) {
    .auto-hide {
        font-size: 0;
        display: none !important;
    }

    h1.system {
        font-size: 18px;
        margin-top: 110px;
    }

    .title-top {
        height: 46px;
    }
}

@media (max-width: 360px) {
    .copyright {
        margin-left: -10px;
    }
}
/*=============*/
.nav-right {
    float: right;
}

    .nav-right > li, .nav-right > li > a {
        display: inline-block;
        position: relative;
        color: #fff;
        font-size: 18px;
    }

        .nav-right > li > a:hover {
            background-color: #3c8dbc;
        }

.avatar-circle {
    border: 2px solid rgba(255, 255, 255,.5);
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: -3px;
    margin-left: 0;
}
/*===========*/
.rightmenu .label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    line-height: .9;
    padding: 2px 3px;
}
/*==============*/
.rad-dropmenu-item {
    position: absolute;
    right: 0;
    top: 65px;
    min-width: 250px;
    background: white;
    border: 1px solid #B9C3C7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
    padding-left: 0px;
    width: 278px;
    z-index: 5;
}

    .rad-dropmenu-item li {
        list-style-type: none;
    }

ul.rad-dropmenu-item.rad-dropmenu-user.active {
    display: block;
}

.rad-dropmenu-item::before {
    content: "";
    position: absolute;
    border-width: 0px 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;
    top: -8px;
    right: 24px;
}

.drop-user-img {
    border-radius: 50%;
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.user-header {
    height: 175px;
    text-align: center;
    padding: 10px;
    background-color: #3c8dbc;
}

.text-in-drop-user {
    z-index: 5;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    margin-top: 10px;
}

.user-footer {
    padding: 10px;
}

    .user-footer .btn {
        border-radius: 0;
        margin-top: -4px;
    }

    .user-footer .pull-left {
        padding-bottom: 6px;
    }

.rad-dropmenu-messages li, .rad-dropmenu-notice li {
    list-style: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
}

.item-header {
    color: #000;
    line-height: 30px;
    padding-left: 15px;
}

.item-footer {
    color: #000;
    line-height: 30px;
    text-align: center;
}

.item-body {
    line-height: 50px;
    color: #000;
    padding-left: 10px;
    color: #98A0A3;
}

.rad-dropmenu-messages::before,
.rad-dropmenu-notice::before {
    right: 16px;
}

@media screen and (max-width: 992px) {
    #header .menu-top .nav {
        display: none;
    }

        #header .menu-top .nav > li {
            display: block;
        }

    #header .mobile-menu {
        display: block;
        float: right;
        position: absolute;
        top: -5px;
        right: 10px;
        z-index: 99;
    }

    #header .menu-top .nav {
        text-align: left;
    }

        #header .menu-top .nav.open {
            display: block;
        }

    #header .logo {
        text-align: center;
    }

    .rad-dropmenu-item {
        position: absolute;
        right: 0;
        top: 50px;
        min-width: 250px;
        background: white;
        border: 1px solid #B9C3C7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: none;
        padding-left: 0px;
        width: 278px;
        z-index: 5;
    }

    .active {
        display: block;
    }

    .rad-dropmenu-item::before {
        content: "";
        position: absolute;
        border-width: 0px 8px 8px 8px;
        border-style: solid;
        border-color: #fff transparent;
        top: -8px;
        right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .rad-dropmenu-item {
        position: absolute;
        right: 0;
        top: 50px;
        min-width: 250px;
        background: white;
        border: 1px solid #B9C3C7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: none;
        padding-left: 0px;
        width: 278px;
        z-index: 5;
    }

    .active {
        display: block;
    }

    .rad-dropmenu-item::before {
        content: "";
        position: absolute;
        border-width: 0px 8px 8px 8px;
        border-style: solid;
        border-color: #fff transparent;
        top: -8px;
        right: 24px;
    }
}

@media screen and (max-width: 540px) {
    .rad-dropmenu-item {
        position: absolute;
        right: 0;
        top: 50px;
        min-width: 250px;
        background: white;
        border: 1px solid #B9C3C7;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        display: none;
        padding-left: 0px;
        width: 278px;
        z-index: 5;
    }

    .active {
        display: block;
    }

    .rad-dropmenu-item::before {
        content: "";
        position: absolute;
        border-width: 0px 8px 8px 8px;
        border-style: solid;
        border-color: #fff transparent;
        top: -8px;
        right: 24px;
    }
}


@media (max-width: 414px) {
    .rad-dropmenu-messages {
        right: -168px;
    }

        .rad-dropmenu-messages::before {
            right: 185px;
        }
}

@media (max-width: 375px) {
    .rad-dropmenu-notice {
        right: -116px;
    }

        .rad-dropmenu-notice::before {
            right: 132px;
        }

    .rad-dropmenu-messages {
        right: -118px;
    }

        .rad-dropmenu-messages::before {
            right: 135px;
        }
}

.rightmenu {
    margin-top: 15px;
}

.main-section .panel-heading {
    background-color: #0080FF;
}

.main-section label#title-panel {
    font-family: Arial;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.box-tool {
    margin-bottom: 15px;
}

table.table-bordered td {
    vertical-align: middle !important;
}

    table.table-bordered td .fa {
        font-size: 19px;
    }

    table.table-bordered td a.btn.fa {
        padding-top: 0px;
    }
/*table*/
table.table-bordered tr:first-child th {
    text-align: center;
    background-color: #1b84ac;
    color: white;
    vertical-align: middle;
}

.field-validation-error, label.error {
    color: red;
    font-weight: normal;
    font-style: italic;
}

.validation-summary-errors li {
    list-style-type: none;
    color: red;
}

body {
    background-color: #f5f8fa;
}

.rad-dropmenu-item {
    z-index: 1000;
}

a.rad-menu-item:hover {
    background-color: transparent !important;
    color: #fff !important;
}

a.rad-menu-item:active {
    background-color: transparent !important;
    color: #fff !important;
}

a.rad-menu-item:visited {
    background-color: transparent !important;
    color: #fff !important;
}

a.rad-menu-item:focus {
    background-color: transparent !important;
    color: #fff !important;
}

#header li.active a:focus {
    background-color: transparent !important;
    color: #fff !important;
    outline: none;
}


a#home-button {
    font-size: 20px;
}

#main-menu a:hover {
    text-decoration: none;
}


span.required-field {
    font-style: italic;
    color: red;
    font-weight: normal;
}


.count-result {
    font-style: italic;
}
/*Modal*/
.modal-header {
    background-color: #397ac3;
    color: white;
}

    .modal-header .modal-title {
        color: #fff;
        font-size: 20px;
        line-height: 21px;
        padding-left: 10px;
        text-transform: uppercase;
        font-family: Arial;
    }

    .modal-header button.close {
        color: white;
        opacity: 0.9;
    }

#header .mobile-menu {
    display: block;
    float: right;
    position: absolute;
    top: -70px;
    left: -12px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
}

    #header .mobile-menu:hover,
    #header .mobile-menu:visited,
    #header .mobile-menu:focus {
        text-decoration: none;
        outline: none;
    }

@media (max-width: 360px) {
    #header .mobile-menu {
        top: -110px;
    }
}


div.bread-menu {
    color: white;
}

    div.bread-menu a {
        color: #086187;
    }

        div.bread-menu a:hover {
            color: white !important;
        }

    div.bread-menu span.sperator {
        color: #086187;
        margin: 0px 5px;
    }
