﻿.container-us {
    /*max-width: 1000px;*/
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    padding: 10px 50px;
}

.user-img {
    border-radius: 50%;
    z-index: 50;
    width: 200px;
    height: 200px;
    border: 3px solid;
    border-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #3c8dbc;
    display: block;
    margin: 0 auto;
}

.header-info {
    border-bottom: 2px solid #3c8dbc;
    margin-left: -96px;
    margin-top: 20px;
    width: 119%;
    z-index: 1;
    overflow: hidden;
}

.bottom-info {
    margin-left: -53px;
    margin-top: 20px;
    line-height: 30px;
    z-index: 1;
    overflow: hidden;
    font-size: 15px;
}

h3.info-name {
    padding-left: 30px;
}

h4.info-cv {
    margin-top: 29px;
    font-size: 17px;
}

.bottom-right-info {
    margin-right: 50px;
    line-height: 30px;
}

p.title {
    color: #fff;
    background-color: #397ac3;
    max-width: 215px;
    line-height: 30px;
    padding-left: 10px;
    position: relative;
    text-transform: uppercase;
}

    p.title::after {
        content: '';
        position: absolute;
        display: inline;
        border-bottom: 15px solid transparent;
        border-top: 15px solid transparent;
        border-left: 24px solid #397ac3;
        right: -24px;
    }


@media (max-width: 1024px) {
    p.title::after {
        right: -22px;
    }

    .header-info {
        margin-left: -74px;
    }
}

@media (max-width: 812px) {
    .header-info {
        margin: 0;
        text-align: center;
        margin-left: -60px;
    }

    .bottom-info {
        margin: 10px 0;
        font-size: 16px;
    }

    h3.info-name,
    h4.info-cv {
        padding: 0;
        margin-top: 10px;
    }
}

@media (max-width: 414px) {
    .header-info {
        margin-left: -20px;
    }

    .container-us {
        padding: 20px;
    }

}
.instance-info {
    font-size: 15px;
    line-height: 40px;
    border-left: 2px solid #397ac3;
    margin: 20px 0px;
    /*max-width: 1000px;*/
}


.instance-info .row{
        margin-right: -15px;
    margin-left: -15px;
}