﻿@using QLDoanTruong.Model.ViewModel;
@model Tuple<YouthUnionFacultyViewModel, IEnumerable<YouthUnionClassViewModel>, IEnumerable<AchievementViewModel>>

@{
    ViewBag.Title = "Chi tiết Liên chi đoàn " + Model.Item1.Name;
    var statistics = Model.Item1;
    var classes = Model.Item2;
    var achievements = Model.Item3;
}

@section styles{
    <link href="~/Assets/addition/css/profile.css" rel="stylesheet" />

}

@section scripts{
    <script>
        $(function () {
            $('div#leaders').on('click', "a.btn-delete", function (e) {
                e.preventDefault();
                var tr = $('tr', 'table').get($(this).closest('tr').index());
                confirmDelete('@Url.Action("DeletePosition")', { id: $(this).data('id') },
                    function () { $(tr).remove(); });
            });

            $('div#leaders').on('click', "table a.edit", function (e) {

                $('#modal-edit-position').modal("show");
                $('#modal-edit-position #leaderID').val($(this).data('id'));
                $('#modal-edit-position #PositionID').val($(this).data('position'));
                //alert( );
                e.preventDefault();

            });



            $('div#classes').on('click', "a.btn-delete", function (e) {
                var tr = $('tr', 'table').get($(this).closest('tr').index());
                confirmDelete('@Url.Action("Delete","YouthUnionClass")', { id: $(this).data('id') },
                    function () { $(tr).remove(); });
                e.preventDefault();
            });
        });
    </script>
}


<div class="row instance-info">
    <div id="Personal-info">
        <p class="title">
            <i class="fa fa-info-circle"></i> Thông tin cơ bản
        </p>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12">
        <b>Mã LCĐ : </b> @Html.DisplayFor(mbox => statistics.YouthUnionFaculityCode)
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12 ">
        <b>Tên Liên Chi Đoàn :</b> @Html.DisplayFor(mbox => statistics.Name)
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 ">
        <b>Số Lượng Chi Đoàn:</b> @Html.DisplayFor(mbox => statistics.ClassAmount)
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 ht">
        <b>Số Đoàn Viên :</b> @Html.DisplayFor(mbox => statistics.UnionAmount)
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 ht">
        <b>Nam:   </b>@Html.DisplayFor(mbox => statistics.MaleAmount)
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 ht">
        <b>Nữ:   </b>@Html.DisplayFor(mbox => statistics.FemaleAmount)
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 ht">
        <b>Tôn Giáo:   </b>@Html.DisplayFor(mbox => statistics.ReligionAmount)
    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 ht">
        <b>Dân Tộc Thiểu Số:   </b>@Html.DisplayFor(mbox => statistics.EthnicAmount)
    </div>
</div>

<div class="row instance-info">
    <div id="award-info">
        <p class="title">
            <i class="fa fa-trophy"></i> Thành tích
        </p>
    </div>
    @foreach (var item in achievements)
    {
        <div class="col-md-5 col-sm-5 col-xs-12">
            @item.AwardName
        </div>
        <div class="col-md-5 col-sm-4 col-xs-12 ">
            @item.AwardLevelName
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 ">
            @item.SchoolYearName
        </div>
    }
</div>


<div class="row instance-info" style="margin-bottom: 0">
    <div id="award-info">
        <p class="title">
            <i class="fa fa-user-plus"></i> Ban chấp hành LCĐ
        </p>
    </div>
</div>
@*<h3>Ban chấp hành LCĐ</h3>*@
<div id="leaders">
    @{Html.RenderAction("GetLeaders", "YouthUnionFaculty", new { id = Model.Item1.ID });}
</div>
@if (ViewBag.MANAGE_FACULTY)
{
    <div class="row">
        <div class="pull-right">
            @Html.ActionLink("Thêm mới BCH", "AddLeader", new { id = Model.Item1.ID }, new { @class = "btn btn-block btn-primary" })
        </div>
    </div>
}

@if (classes != null)
{
    <div class="row instance-info" style="margin-bottom: 0">
        <div id="award-info">
            <p class="title">
                <i class="fa fa-wpforms"></i> Chi đoàn Trực thuộc
            </p>
        </div>
    </div>

    <div id="classes">
        <table class="table table-bordered">
            <tr>
                <th style="width:20px">#</th>
                <th>
                    @*  @Html.DisplayNameFor(model => model.YouthUnionClassCode)*@
                    Mã lớp
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    Tên lớp
                </th>
                <th>Số <br />lượng</th>
                <th>Nam</th>
                <th>Nữ</th>
                <th>Tôn<br /> giáo</th>
                <th>Dân tộc <br /> thiểu số</th>
                <th>Bí thư</th>
                <th>Thao Tác</th>
            </tr>
            @{int index = 1;}
            @foreach (var item in classes)
            {

                <tr>
                    <td>@(index++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YouthUnionClassCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.UnionAmount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.MaleAmount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FemaleAmount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ReligionAmount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EthnicAmount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.SecretaryName)
                    </td>
                    <td class="text-center" nowrap>
                        @if (ViewBag.MANAGE_CLASS)
                        {

                            @Html.ActionLink(" ", "Edit", "YouthUnionClass", new { id = item.ID }, new { @class = "btn fa fa-pencil", title = "Sửa" })
                        }

                        @Html.ActionLink(" ", "Details", "YouthUnionClass", new { id = item.ID }, new { @class = "fa fa-newspaper-o", title = "Chi tiết" })

                        @if (ViewBag.MANAGE_CLASS)
                        {
                            <a href="#" data-id="@item.ID" class="btn fa fa-trash-o btn-delete" style="color:red" title="Xóa"></a>
                        }
                    </td>

                </tr>
            }

        </table>
    </div>
    if (ViewBag.MANAGE_CLASS)
    {
        <div class="row">
            <div class="pull-right">
                @Html.ActionLink("Thêm chi đoàn", "Create", "YouthUnionClass", new { facultyID = statistics.ID }, new { @class = "btn btn-block btn-primary" })
            </div>
        </div>
    }
}


@if (ViewBag.MANAGE_FACULTY)
{
    <div class="modal modal-warning fade" id="modal-edit-position" style="display: none;">
        <div class="modal-dialog">
            @using (Html.BeginForm("EditLeaderForFaculty", "YouthUnionFaculty"))
            {
                @Html.AntiForgeryToken()

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thay đổi chức vụ </h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <input type="hidden" name="leaderID" id="leaderID" />
                            <div class="form-group">
                                <label class="control-label col-md-3">Chọn chức vụ:</label>
                                <div class="col-md-9">
                                    @Html.DropDownList("PositionID", null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" data-dismiss="modal">Thoát</button>
                        <input class="btn btn-outline btn-primary" type="submit" id="btn-ok" value="OK" />
                    </div>
                </div>
            }
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

}