﻿@model IEnumerable<QLDoanTruong.Model.Unit>

@{

    ViewBag.Title = "Quản lý Liên chi đoàn";
}
@section scripts
{
    <script>
        $(function () {

            $('table').on('click', "a.btn-delete", function (e) {

                var tr = $('tr', 'table').get($(this).closest('tr').index());
                confirmDelete('@Url.Action("Delete")', { id: $(this).data('id') },
                    function () { $(tr).remove(); });
                e.preventDefault();
            });
        });
    </script>
}

@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    if (ViewBag.MANAGE_FACULTY)
    {
        <div class="pull-right box-tool">
            <a href="@Url.Action("Create")" class="btn btn-primary"> <i class="fa fa-plus"></i> Thêm Liên chi đoàn</a>

        </div>
    }

    <table class="table table-bordered">
        <tr>
            <th style="width:20px">#</th>
            <th>
                @Html.DisplayNameFor(model => model.UnitCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>Thao Tác</th>
        </tr>
        @{int stt = 1;}
        @foreach (var item in Model)
        {

            <tr>
                <td>@(stt++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center" nowrap>
                    @if (ViewBag.MANAGE_FACULTY && ViewBag.VIEW_ALL_FACULTY)
                    {
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn fa fa-pencil", title = "Sửa" })
                    }

                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-newspaper-o", title = "Chi tiết", style = "color:green" })

                    @if (ViewBag.MANAGE_FACULTY && ViewBag.VIEW_ALL_FACULTY)
                    {
                        <a href="#" title="Xoá" data-id=@item.ID class="btn fa fa-trash btn-delete" style="color:red"></a>
                    }
                </td>

                </tr>
        }

            </table>


}