﻿@{
    ViewBag.Title = "Lịch làm việc";
}

@section scripts{
    <script>
        $(function () {
            $('#divSchedule').on('click', "a.btn-delete", function (e) {

                var tr = $('tr', 'table').get($(this).closest('tr').index());
                confirmDelete('@Url.Action("Delete")', { id: $(this).data('id') },
                    function () { $(tr).remove(); });
                e.preventDefault();
            });
        });
    </script>
}
@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    if (ViewBag.EditSchedule)
    {
    <!--Thêm lich cho tuần mới-->
        <div class="pull-right box-tool">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-calendar-plus-o"></i>
                Thêm lịch tuần
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form class="form-horizontal" action="@Url.Action("Create")" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel">Thêm lịch tuần mới cho năm học @ViewBag.SchoolYear</h5>

                            </div>
                            <div class="modal-body">

                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="control-label col-md-3">Tuần:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("Week", null, new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!--End thêm lịch-->

    }

    <div id="divSchedule">
        @{Html.RenderAction("GetWorkSchedules");}
    </div>
}