﻿@model QLDoanTruong.Model.Award

@{
    ViewBag.Title = "Cập nhật danh hiệu";
}

@section scripts{
    <script>
            @if (ViewBag.Success != null)
            {
                @Html.Raw(ViewBag.Success ? "notifySuccess('Đã cập nhật thành công!');" : "notifyError('Đã có lỗi! Bạn vui lòng kiểm tra lại thông tin đã nhập!');");

            }</script>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 5 })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AwardLevelID, "Cấp danh hiệu", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AwardLevelID", null, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AwardLevelID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Type, "Đối tượng nhận danh hiệu", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Type", null, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
