﻿@model IEnumerable<QLDoanTruong.Model.Award>

@{
    ViewBag.Title = "Quản lý Danh hiệu";
}

@section scripts
{

    <script>


    $(document).ready(function () {
       
        $('#AwardLevelID').change(function () {
            $('#frm-filter').submit();
        });

        $('#Type').change(function () {
            $('#frm-filter').submit();
        });
        

        
        $('table#tblAward').on('click', "a.btn-delete", function (e) {

            var tr = $('tr', 'table#tblAward').get($(this).closest('tr').index());
            confirmDelete('@Url.Action("Delete")', { id: $(this).data('id') },
                function () { $(tr).remove(); });
            e.preventDefault();
        });
    
    });
    </script>
}


<div class="tab-control">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tabs-1">Danh hiệu</a></li>
        <li><a href="@Url.Action("Index","AwardLevel")">Cấp khen thưởng</a></li>
    </ul>
    <div class="tab-content">

        <!--Tab danh hiêu-->
        <div id="tabs-1" class="tab-pane active">
            <div class="pull-right">
                <a class="btn btn-primary" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Thêm Danh hiệu</a>
            </div>
            @using (Html.BeginForm("Index", "Award", FormMethod.Post, new { @class = "form-inline", @id = "frm-filter" }))
            {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">Cấp khen thưởng:</label>
                @Html.DropDownList("AwardLevelID", null, "--- Tất cả ---", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Đối tượng:</label>
                @Html.DropDownList("Type", null, "--- Tất cả ---", new { @class = "form-control" })
            </div>
            }
            <br />

            <table class="table table-bordered" id="tblAward">
                <tr>
                    <th style="width:20px">#</th>
                    <th>
                        Tên danh hiệu
                    </th>
                    <th>
                        Mô tả
                    </th>
                    <th>
                        Đối tượng nhận danh hiệu
                    </th>

                    <th nowrap >Thao tác</th>
                </tr>
                @{var stt = 1;}
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(stt++)</td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @QLDoanTruong.Common.CommonList.ListUnionType.Find(m => m.ID == item.Type).Name
                    </td>
                    <td class="text-center" nowrap>
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn fa fa-pencil", title = "Sửa" })
                        @*@Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-newspaper-o", title="Chi tiết", style = "color:green" })*@
                        <a href="#" title="Xoá" data-id=@item.ID class="btn fa fa-trash btn-delete" style="color:red"></a>
                    </td>
                </tr>
                }

            </table>
        </div>
    

    </div>
</div>

