﻿@model PagedList.IPagedList<QLDoanTruong.Model.ViewModel.YouthUnionClassViewModel>
@using PagedList.Mvc


<table class="table table-bordered">
    <tr>
        <th style="width:20px">#</th>
        <th>

            Mã lớp
        </th>
        <th>

            Tên lớp
        </th>
        @if (ViewBag.VIEW_ALL_CLASS && ViewBag.FacultyID == null)
        {
            <th>
                Liên chi đoàn
            </th>
        }
        <th>Số <br /> lượng</th>
        <th>Nam</th>
        <th>Nữ</th>
        <th>Tôn<br /> giáo</th>
        <th>Dân tộc <br /> thiểu số</th>
        <th>Bí thư</th>

        <th>Thao Tác</th>
    </tr>
    @{int stt = 1;}
    @foreach (var item in Model)
    {

        <tr>
            <td>@(stt++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.YouthUnionClassCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (ViewBag.VIEW_ALL_CLASS && ViewBag.FacultyID == null)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.FacultyName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.UnionAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MaleAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FemaleAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReligionAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EthnicAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SecretaryName)
            </td>

            <td nowrap class="text-center">
                @if (ViewBag.MANAGE_CLASS)
                {
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn fa fa-pencil", title = "Sửa" })
                }

                @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-newspaper-o", title = "Chi tiết", style = "color:green" })

                @if (ViewBag.MANAGE_CLASS)
                {

                    if (item.Type == QLDoanTruong.Common.ConstraintUnionClassType.STUDENT)
                    {//CĐ SV mới đc xoá
                        <a href="#" title="Xoá" data-id=@item.ID class="btn fa fa-trash btn-delete" style="color:red"></a>
                    }
                }
            </td>
        </tr>
    }

</table>
@if (Model.PageCount > 1)
{
    @Html.PagedListPager(Model, Page => Url.Action("GetClasses", new { Page, facultyID = ViewBag.FacultyID, academicYearID = ViewBag.AcademicYearID, type = ViewBag.Type }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
                        new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "UnionClassArea" }))
}
