﻿@model IEnumerable<QLDoanTruong.Model.ViewModel.LeaderClassViewModel>

@{
    var leaders = Model;
    var bcs = leaders.Where(x => x.PositionType == QLDoanTruong.Common.ConstraintPositionType.CLASS);
    var bch = leaders.Where(x => x.PositionType == QLDoanTruong.Common.ConstraintPositionType.UNION);


}

@if (ViewBag.Page == "AddLeader")
{
    var posBCH = bch.Count();
    var posBCS = bcs.Count();

    var svbcs = bcs.Select(x => x.Member.Count() == 0 ? 1 : x.Member.Count()).Sum();
    var svbch = bch.Select(x => x.Member.Count() == 0 ? 1 : x.Member.Count()).Sum();

    var rowBCH = svbch < posBCH ? posBCH : svbch;
    var rowBCS = svbcs < posBCS ? posBCS : svbcs;

    <table class="table table-bordered">
        <tr>
            <td rowspan="@rowBCH" style=" width: 200px;">Ban Chấp hành</td>

            @foreach (var p in bch)
            {
                var count = p.Member.Count();
                <td style=" width: 200px;" @(count == 0 ? "" : "rowspan=" + count)>@p.PositionName</td>
                if (count == 0)
                {

                    <td colspan="2">Chưa bổ nhiệm</td>
                    @Html.Raw("</tr>");

                }
                else
                {
                    var mem = p.Member.ToArray();
                    var id = p.ID.ToArray();
                    for (int i = 0; i < count; i++)
                    {

                        if (i != 0)
                        {
                            @Html.Raw("<tr>");
                        }
                        <td>@mem[i]</td>
                        <td nowrap width="100px" class="text-center">
                            @*<a href="#" data-id="@id[i]" class="btn fa fa-pencil edit" title="Đổi chức vụ"></a>*@

                            <a href="#" data-id="@id[i]" class="btn fa fa-sign-out btn-delete" style="color:red" title="Cho nghỉ hưu"></a>
                        </td>

                        @Html.Raw("</tr>");
                    }
                }



            }


        <tr>
            <td rowspan="@rowBCS" style=" width: 200px;">Ban Cán sự</td>

            @foreach (var p in bcs)
            {
                var count = p.Member.Count();
                <td style=" width: 200px;" @(count == 0 ? "" : "rowspan=" + count)>@p.PositionName</td>
                if (count == 0)
                {

                    <td colspan="2">Chưa bổ nhiệm</td>
                    @Html.Raw("</tr>");

                }
                else
                {
                    var mem = p.Member.ToArray();
                    var id = p.ID.ToArray();
                    for (int i = 0; i < count; i++)
                    {

                        if (i != 0)
                        {
                            @Html.Raw("<tr>");
                        }
                        <td>@mem[i]</td>
                        <td nowrap width="100px" class="text-center">
                            @*<a href="#" data-id="@id[i]" class="btn fa fa-pencil edit" title="Đổi chức vụ"></a>*@

                            <a href="#" data-id="@id[i]" class="btn fa fa-sign-out btn-delete" style="color:red" title="Cho nghỉ hưu"></a>
                        </td>

                        @Html.Raw("</tr>");
                    }
                }

            }

    </table>

}
else
{
    <div class="col-md-6 col-xs-12 col-sm-12">
        <h4 style="text-transform:uppercase">Ban cán sự:</h4>

        @foreach (var p in bcs)
        {
            <div class="row-fix">
                <label class="control-label col-md-4">@p.PositionName:</label>
                <div class="col-md-8">
                    @if (p.Member.Count() == 0)
                    {
                        <p>Chưa bổ nhiệm</p>
                    }
                    else
                    {

                        foreach (var m in p.Member)
                        {
                            <p style="margin-bottom:-5px">@m</p>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <h4 style="text-transform:uppercase">Ban chấp hành:</h4>

        @foreach (var p in bch)
        {
            <div class="row-fix">
                <label class="control-label col-md-4">@p.PositionName:</label>
                <div class="col-md-8">
                    @if (p.Member.Count() == 0)
                    {
                        <p>Chưa bổ nhiệm</p>
                    }
                    else
                    {
                        foreach (var m in p.Member)
                        {
                            <p style="margin-bottom:-5px">@m</p>
                        }
                    }
                </div>

            </div>
        }
    </div>
}