﻿@model QLDoanTruong.Model.YouthUnionClass

@{
    ViewBag.Title = "Thêm Chi đoàn";
}


@section scripts{
    <script>
        @if (ViewBag.Success != null)
    {
        @Html.Raw(ViewBag.Success ? "notifySuccess('Đã thêm thành công!');" : "notifyError('Đã có lỗi! Bạn vui lòng kiểm tra lại thông tin đã nhập!');");

    }
    </script>
}
@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                <label class="control-label col-md-2">Mã chi đoàn <span class="required-field">*</span></label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.YouthUnionClassCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.YouthUnionClassCode)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Tên chi đoàn <span class="required-field">*</span></label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            @if (ViewBag.FacultyID != null)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.FacultyID, "Liên Chi đoàn", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("FacultyID", null, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FacultyID)
                    </div>
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.AcademicYearID, "Khóa học", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AcademicYearID", null, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AcademicYearID)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Trở về", "Index")
    </div>
}