﻿@using QLDoanTruong.Common;
@model Tuple<QLDoanTruong.Model.ViewModel.YouthUnionClassViewModel, IEnumerable<QLDoanTruong.Model.YouthUnionMember>, IEnumerable<QLDoanTruong.Model.ViewModel.AchievementViewModel>>


@{

    ViewBag.Title = "Chi tiết Chi đoàn " + Model.Item1.Name;
    var statistics = Model.Item1;
    var members = Model.Item2;
    var achievements = Model.Item3;

}

@section styles{
    <link href="~/Assets/addition/css/profile.css" rel="stylesheet" />
    <style type="text/css">
        .row-fix {
            clear: both;
        }

            .row-fix:before {
                display: table;
                content: " ";
            }
    </style>
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('a#btnAddLeader').click(function (e) {
                e.preventDefault();
                var url = '@Url.Action("AddLeader", new {classID=statistics.ID })' + '&schoolYearID=' + $('#schoolYear').val();
                window.location.href = url;
            });

            //CHANGE Schoolyear
            $('#schoolYear').change(function () {
                //alert('ok');
                $('form#frmLeader').submit();
            });
        });

    </script>
}
@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    <div class="row instance-info">
        <div id="Personal-info">
            <p class="title">
                <i class="fa fa-info-circle"></i> Thông tin cơ bản
            </p>
        </div>
        @*<div class="col-md-5 col-sm-5 col-xs-12">
                <b>Mã LCĐ : </b> @Html.DisplayFor(mbox => statistics.YouthUnionFaculityCode)
            </div>*@

        <div class="col-md-5 col-sm-6 col-xs-12 ">
            <b>Liên Chi Đoàn :</b> @Html.DisplayFor(mbox => statistics.FacultyName)
        </div>
        <div class="col-md-7 col-sm-6 col-xs-12 ">
            <b>Bí thư chi đoàn :</b> @Html.DisplayFor(mbox => statistics.SecretaryName)
        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <b>Số Đoàn Viên :</b> @Html.DisplayFor(mbox => statistics.UnionAmount)
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 ht">
                    <b>Nam:   </b>@Html.DisplayFor(mbox => statistics.MaleAmount)
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 ht">
                    <b>Nữ:   </b>@Html.DisplayFor(mbox => statistics.FemaleAmount)
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 ht">
            <b>Tôn Giáo:   </b>@Html.DisplayFor(mbox => statistics.ReligionAmount)
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 ht">
            <b>Dân Tộc Thiểu Số:   </b>@Html.DisplayFor(mbox => statistics.EthnicAmount)
        </div>
    </div>

    <div class="row instance-info">
        <div id="award-info">
            <p class="title">
                <i class="fa fa-trophy"></i> Thành tích
            </p>
        </div>
        @foreach (var item in achievements)
        {
            <div class="col-md-5 col-sm-5 col-xs-12">
                @item.AwardName
            </div>
            <div class="col-md-5 col-sm-4 col-xs-12 ">
                @item.AwardLevelName
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 ">
                @item.SchoolYearName
            </div>
        }
    </div>

    <div class="row instance-info">
        <div id="award-info">
            <p class="title">
                <i class="fa fa-user-plus"></i> BCS - BCH
            </p>

        </div>
        @using (Ajax.BeginForm("GetLeader", "YouthUnionClass",
        new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "leaders", InsertionMode = InsertionMode.Replace }, new { id = "frmLeader" }))
        {

            <div class="row-fix">
                <div class="col-md-6">
                    <div class="form-inline">
                        <label class="control-label">Năm học:</label>
                        @Html.DropDownList("SchoolYearID", null, new { @class = "form-control", id = "schoolYear" })
                        <input type="hidden" name="classID" value="@ViewBag.ClassID">
                    </div>

                </div>
                @if (ViewBag.MANAGE_CLASS)
                {
                    <div class="pull-right">
                        <a id="btnAddLeader" href="#" class="btn btn-primary">Bổ nhiệm BCH-BCS</a>
                    </div>
                }
            </div>

            <div class="row-fix">
                <div id="leaders">
                    @{Html.RenderAction("GetLeader", new { classID = ViewBag.ClassID, schoolYearID = ViewBag.CurrentSchoolYearID, page = "Detail" });}
                </div>

            </div>
        }
    </div>

    if (members != null)
    {
        <div class="row instance-info" style="margin-bottom: 0">
            <div id="award-info">
                <p class="title">
                    <i class="fa fa-user"></i> Đoàn viên
                </p>
            </div>
        </div>

        if (ViewBag.MANAGE_MEMBER)
        {
            <div class="row">
                <div class="pull-right box-tool">
                    @Html.ActionLink("Thêm đoàn viên", "Create", "YouthUnionMember", new { classID = statistics.ID }, new { @class = "btn btn-block btn-primary" })
                </div>
            </div>
        }
        <table class="table table-bordered">
            <tr>
                <th style="width:20px">#</th>
                <th>
                    @*  @Html.DisplayNameFor(model => model.YouthUnionClassCode)*@
                    Mã sinh viên
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    Họ
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.YouthUnionFaculty.Name)*@
                    Tên
                </th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Dân tộc</th>
                <th>Tôn giáo</th>
                <th>Số điện thoại</th>
                <th>Email</th>

                <th>Thao tác</th>

            </tr>
            @{int index = 1;}
            @foreach (var item in members)
            {

                <tr>
                    <td>@(index++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YouthUnionMemberCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.Encode(item.Gender == 1 ? "Nam" : "Nữ")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Religion.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td nowrap class="text-center">
                        @Html.ActionLink(" ", "Details", "YouthUnionMember", new { id = item.ID }, new { @class = "btn fa fa-newspaper-o" })
                        @if (ViewBag.MANAGE_MEMBER)
                        {

                            @Html.ActionLink(" ", "RemoveMember", new { memberID = item.ID }, new { @class = "fa fa-trash-o" })

                        }
                    </td>
                </tr>
            }

        </table>

    }

    <div>
        @Html.ActionLink("Trở về", "Index")
    </div>
}