﻿@{

    ViewBag.Title = "Quản lý Chi đoàn";
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#Type, #FacultyID, #AcademicYearID').change(function () {
                //     alert( $('#FacultyID').val());
                $("#frm-select-faculty").submit();

            });

            $('#UnionClassArea').on('click', "a.btn-delete", function (e) {

                var tr = $('tr', 'table').get($(this).closest('tr').index());
                confirmDelete('@Url.Action("Delete")', { id: $(this).data('id') },
                    function () { $(tr).remove(); });
                e.preventDefault();
            });
            $('a#btn-add').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');


                if ($('#FacultyID').val() != '' && $('#FacultyID').val() != undefined)
                    url += '?facultyID=' + $('#FacultyID').val();
                window.location.href = url;
            });
        });
    </script>

}

@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    <div class="box-tool">
        @if (ViewBag.MANAGE_CLASS)
        {
            <div class="pull-right">
                <a href="@Url.Action("Create")" class="btn btn-primary" id="btn-add"> <i class="fa fa-plus"></i> Thêm Chi đoàn</a>
            </div>
        }

        <form method="post" class="form-inline" action="@Url.Action("Index")" id="frm-select-faculty">
            <div class="form-group">
                <label class="control-label">Loại Chi đoàn: </label>
                @Html.DropDownList("Type", null, new { @class = "form-control" })
            </div>
            @if (ViewBag.FacultyID != null)
            {
                <div class="form-group">
                    <label class="control-label">Liên chi đoàn:</label>
                    @Html.DropDownList("FacultyID", null, "-- Tất cả --", new { @class = "form-control" })
                </div>
            }
            @if (ViewBag.AcademicYearID != null)
            {
                <div class="form-group">
                    <label class="control-label">Khóa học:</label>
                    @Html.DropDownList("AcademicYearID", null, "-- Tất cả --", new { @class = "form-control" })
                </div>
            }
        </form>
    </div>
    <div id="UnionClassArea">

        @{Html.RenderAction("GetClasses", "YouthUnionClass", new { page = 1 });}
    </div>
}
