﻿@model QLDoanTruong.Model.ViewModel.LoginViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)


<div class="form-group field-loginform-username required">
    @Html.TextBoxFor(m => m.Username, new { @id = "loginform-username", @class = "form-control", @placeholder = "Tên đăng nhập" })

    @Html.ValidationMessageFor(m => m.Username)
</div>

<div class="form-group field-loginform-password required">
    @Html.PasswordFor(m => m.Password, new { @id = "loginform-password", @class = "form-control", @placeholder = "Mật khẩu" })
    @Html.ValidationMessageFor(m => m.Password)
</div>
<div style="clear: both"></div>
<div class="row">
    <div class="col-xs-12 loginform-rememberme">
        @Html.CheckBoxFor(m => m.IsRemember, new { @checked="checked"})
        <label for="loginform-rememberme">Ghi nhớ đăng nhập</label>
    </div>
</div>
<div style="clear: both"></div>
<button onclick="" type="submit" class="btn btn-primary" style="width: 100%;">
    Đăng nhập
</button>
