﻿@model List<QLDoanTruong.Model.Function>



@{
    ViewBag.Title = "Dashboard";
    ViewBag.NoPanel = true;

}

@section styles{
    <link href="~/Assets/addition/css/dashboard.css" rel="stylesheet" />
}
<div id="main-menu">

    <div class="inner">

        @{var length = Model.Count;}
        @for (var i = 0; i < length; i++)
        {
            if (i % 4 == 0)
            {   @Html.Raw("<div class=\"row\">")
            }
            <div class="col-md-3">
                <a href="@Model[i].Link">
                    <div class="item-thumb">
                        <div class="item-image">
                            <span class="item-icon">
                                <img src="~/Assets/addition/img/@Model[i].Image" />
                            </span>
                        </div>
                        <div class="item-title">
                            <h1>@Model[i].Name</h1>
                        </div>
                    </div>
                </a>
            </div>
            if (i % 4 == 3 || i == length - 1)
            {
                @Html.Raw("</div>")
            }
        }
    </div>

</div>
