﻿@model QLDoanTruong.Model.ViewModel.LoginViewModel

@{
    ViewBag.Title = ".: Đăng nhập :.";
    ViewBag.NoPanel = true;
}

@section scripts{
    <script type="text/javascript">
        $('#btn-forget-password').click(function () {
            $('#btn-forget-password i').show();
            $(this).attr("disabled", true);
            $.post('@Url.Action("ForgetPassword")',
                { email: $('input[name="email"]').val() },
                function (result) {
                    $('#btn-forget-password i').hide();
                    $('#btn-forget-password').attr("disabled", false);
                    if (result == "true") {
                        $('#modal-forget-password').modal("hide");
                        $('#success-message').modal("show");
                    }
                    else
                        $('#error-message').text(result);
                    $('#error-message').show();
                    //$("#modal-forget-password").
                });

        });
    </script>
}
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Đăng Nhập</div>
            <div style="float:right; font-size: 80%; position: relative; top:-10px">
                <a href="#" data-toggle="modal" data-target="#modal-forget-password">
                    Quên mật
                    khẩu?
                </a>
            </div>
        </div>

        <div style="padding-top:30px" class="panel-body">

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div style="margin-bottom: 25px">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.Username, new { @id = "login-username", @class = "form-control", @placeholder = "Tên đăng nhập" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div style="margin-bottom: 25px">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                        @Html.PasswordFor(m => m.Password, new { @id = "login-password", @class = "form-control", @placeholder = "Mật khẩu" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>


                <div class="input-group">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m=>m.IsRemember) Ghi nhớ đăng nhập
                        </label>
                    </div>
                </div>

                <div style="margin-top:10px" class="form-group">
                    <!-- Button -->

                    <div class="col-sm-12 controls">
                        <input type="submit" class="btn btn-primary" value="Đăng Nhập" />

                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!--Model Forget password-->
<div id="modal-forget-password" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quên mật khẩu</h4>
            </div>

            <div class="modal-body">

                <div id="error-message" class="alert alert-danger" style="display:none">

                </div>

                <label>Nhập email của bạn:</label>
                <input type="text" class="form-control" name="email" />
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="btn-forget-password"><i style="display:none; margin-right:5px" class="fa fa-circle-o-notch fa-spin"></i>OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            </div>
        </div>

    </div>
</div>
<!--End modal-->
<!--Div success-->
<div id="success-message" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="alert alert-success">
            Chúng tôi đã gửi thông tin vào email của bạn. Vui lòng kiểm tra email!
        </div>
    </div>
</div>
<!---->
