﻿@model QLDoanTruong.Model.ViewModel.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Đặt lại mật khẩu";
}
<div class="text-center">
    <h4>ĐẶT LẠI MẬT KHẨU</h4>
</div>
 <div class="col-md-offset-3 col-md-6 col-xs-12" style="padding-top:30px;">
    <div class="panel panel-default panel-profile m-b-md">
        <div class="panel-body text-center">
            <div id="Container" class="text-center" style="padding-top:20px;">
                <div class="container-fluid">

                    <br><br>
                    <div class="container-content-middle">

                        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { @class = "m-x-auto text-center app-login-form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                         <input type="hidden" value="@ViewBag.Token" />
                               <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Nhập khẩu mới mới" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Xác nhận mật khẩu" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                            <div class="row">

                                <div class="m-b-lg">
                                    <div class="col-xs-6 col-xs-offset-6">
                                        <button class="btn btn-block btn-primary-outline" type="submit">OK</button>
                                    </div>

                                </div>
                            </div>



                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

