﻿@{
    ViewBag.Title = "Thêm Khen thưởng";
}

@section scripts{
    <script src="~/Assets/addition/js/my-upload.js"></script>

    <script type="text/javascript">
        //function onLoading() {
        //    $('#btn-import i').show();
        //    $('#btn-import').attr("disabled", true);
        //}
        //function endLoading() {
        //    $('#btn-import i').hide();
        //    $('#btn-import').attr("disabled", false);
        //}
        window.addEventListener("submit", function (e) {
            var error = getErrorUploadFile('input[name="file"]');
            if (error != '') {
                notifyError(error);
                return;
            }
            //console.log($()[0].files[0].name); return;
            notifyLoading("Đang xử lý...");


            var form = e.target;
            if (form.getAttribute("enctype") === "multipart/form-data") {
                if (form.dataset.ajax) {
                    e.preventDefault();
                    e.stopImmediatePropagation();
                    var xhr = new XMLHttpRequest();
                    xhr.open(form.method, form.action);
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState == 4 && xhr.status == 200) {
                            if (form.dataset.ajaxUpdate) {
                                var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                                if (updateTarget) {
                                    updateTarget.innerHTML = xhr.responseText;
                                    notifySuccess('Đã xử lý xong!');
                                }
                            }
                        } else {
                            notifyError('Đã xảy ra lỗi!');
                        }
                    };
                    xhr.send(new FormData(form));
                }
            }
        }, true);

        $(function () {
            $('input[type="file"]').change(function () {
                var error = getErrorUploadFile('input[type="file"]');

                if (error != '') {

                    notifyError(error);

                    $(this).val('');

                }
                $('#txtFile').val($(this).val());
            });


            $('#AwardLevelID').change(function () {
                $('#AwardID').children('option').remove();

                $.post("@Url.Action("GetAwards")",
                    {
                        awardLevelID: $('#AwardLevelID').val(),

                    },
                    function (result) {
                        //console.log(result);
                        $.each(result, function (index, item) {
                            $('#AwardID').append($('<option>', {
                                value: item.ID,
                                text: item.Name
                            }));
                        });
                        $('#btn-import').attr("disabled", result.length == 0);
                    }, 'json');
            });
            $('#AwardLevelID').trigger("change");
        });
    </script>
}


@using (Ajax.BeginForm("GetResultImport", null,
    new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "divResult",
        InsertionMode = InsertionMode.Replace
    },
        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">Cấp khen thưởng:</label> <br />
            @Html.DropDownList("AwardLevelID", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">Giải thưởng:</label><br />
            <select class="form-control" name="AwardID" id="AwardID"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Năm học:</label><br />
            @Html.DropDownList("SchoolYearID", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">Chọn tệp:</label>
            <br />
            <div class="input-group" style="min-width: 426px;">
                <input name="txtFile" placeholder="Chọn tệp .xls, .xlsx" type="text" readonly="readonly" id="txtFile" class="form-control">
                <span class="group-span-filestyle input-group-btn">
                    <button id="btnBrowse" type="button" value="Chọn tệp" class="btn btn-primary" style="padding:6px 12px !important; border-radius: 0"
                            onclick="document.getElementById('fileUpload').click();">
                        <i class="fa fa-folder-open"></i>
                    </button>
                </span>

            </div>

            <input type="file" style="display:none" accept=".xls, .xlsx" name="file" id="fileUpload" />

        </div>
        <div class="form-group">
          <br />
              <button id="btn-import" class="btn btn-success" type="submit">
                @*<i style="display:none; margin-right:5px" class="fa fa-circle-o-notch fa-spin"></i>*@ Tải lên
            </button>
        </div>
    </div>
}

<div class="box-tool"></div>
<div id="divResult">
    <!--Barng trar ve o day-->

</div>


@*<div>
    @Html.ActionLink("Trở về", "Index")
</div>*@
