﻿@model IEnumerable<QLDoanTruong.Model.ViewModel.AchievementViewModel>

@{
    ViewBag.Title = "Quản lý Khen thưởng";
}

@section styles
{

}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#SchoolYearID, #AwardID').change(function () {
                $('#frm-filter').submit();
            });
            //load award
            $('#AwardLevelID').change(function () {
                $('#AwardID').val(null).change();
                
            });
            $('table').on('click', "a.btn-delete", function (e) {

                var tr = $('tr', 'table').get($(this).closest('tr').index());
                confirmDelete('@Url.Action("Delete")', { id: $(this).data('id') },
                    function () { $(tr).remove(); });
                e.preventDefault();
            });
        });
    </script>
}

<div class="pull-right">
    <a class="btn btn-primary" href="@Url.Action("Create")"><i class="fa fa-plus"></i> Thêm Khen thưởng</a>
</div>
@using (Html.BeginForm("Index", "Achievement", FormMethod.Post, new { @class = "form-inline", @id = "frm-filter" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="control-label">Cấp khen thưởng:</label>
        @Html.DropDownList("AwardLevelID", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Giải thưởng:</label>
        @Html.DropDownList("AwardID", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label class="control-label">Năm học:</label>
        @Html.DropDownList("SchoolYearID", null, new { @class = "form-control" })
    </div>
}
<br />
<table class="table table-bordered">
    <tr>
        <th style="width:20px">#</th>
        <th>
            Đối tượng nhận khen thưởng
        </th>
        <th>
            Giải thưởng
        </th>
        <th>
            Văn bản quyết định
        </th>
        <th>Năm học</th>
        <th ></th>
    </tr>
    @{var stt = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@(stt++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.YouthUnionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardName)
            </td>

            <td>
                @if (item.Document != null)
                {
                    @Html.RouteLink(item.Document, "Download", new { fileName = item.Document, type = QLDoanTruong.Common.ConstraintName.ACHIEVEMENT_FILE }, null)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolYearName)
            </td>
            <td class="text-center" nowrap>
               @* @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "btn fa fa-pencil", title="Sửa"})*@
                @*@Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "fa fa-newspaper-o", title="Chi tiết", style = "color:green" })*@
                    @*@Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "btn fa fa-trash-o", style="color:red", title="Xóa" })*@
                <a href="#" title="Xoá" data-id=@item.ID class="btn fa fa-trash btn-delete" style="color:red"></a>
            </td>
        </tr>
    }

</table>

