﻿@model IEnumerable<QLDoanTruong.Model.TempMonthlyReportDetail>

@{
    ViewBag.Title = ViewBag.ReportName;
}

@section styles
{
    <!-- Date Picker -->
    <link href="~/Assets/addition/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}
@section scripts
{
    <!-- bootstrap datepicker -->
    <script src="~/Assets/addition/js/moment.js"></script>
    <script src="~/Assets/addition/js/moment-with-locales.min.js"></script>
    <script src="~/Assets/addition/js/bootstrap-datepicker.min.js"></script>

    <script src="~/Assets/addition/js/my-upload.js"></script>

    <script>
        function checkEmptyActivity() {
            if ($('#ActivityID').children('option').length == 0)
                $('#exampleModal button[type="submit"]').attr('disabled', true);
        }

        $(document).ready(function () {
            @if(ViewBag.SendSuccess !=null)
            {
                
                @Html.Raw(ViewBag.SendSuccess ? "notifySuccess('Đã gửi thành công!');" : "notifyError('"+ViewBag.ErrorMessageSend+"');");
            }

            checkEmptyActivity();
            //Date picker
            $('#datepicker').datetimepicker({
                locale: 'vi',
                format: 'DD/MM/YYYY'
            });
            //file
            $('input[type="file"]').change(function () {
                var error = getErrorUploadFile('input[type="file"]');

                if (error != '') {

                    notifyError(error);

                    $(this).val('');

                }
                $('#txtfile').val($(this).val());
            });

            $('input:radio[name="FileUpload"]').change(function () {
                var check = document.getElementsByName("FileUpload");
                if (check[1].checked == true) {
                    $('#trFromComputer').addClass('hidden');
                    $('#trFromWeb').removeClass('hidden');
                }
                else {
                    $('#trFromWeb').addClass('hidden');
                    $('#trFromComputer').removeClass('hidden');
                }
            });
        });
    </script>
}

@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    <div class="form-group">
        <!--Thời hạn-->
        <div class="pull-left" style=" margin-top: 6px; margin-bottom:2px">
            <label class="label label-warning">
                Hạn nộp: @ViewBag.ExpireDate.DueDate.ToString("H:mm dd/MM/yyyy")
            </label> &nbsp;
            <label class="label label-danger">
                @(!ViewBag.ExpireDate.IsEnabledCutOffDate ? "Không cho phép nạp muộn!" : "Ngày cắt: " + ViewBag.ExpireDate.CutOffDate.ToString("H:mm dd/MM/yyyy"))
            </label> &nbsp;
            @if (ViewBag.ExpireDate.IsEnabledCutOffDate)
            {
                <label class="label label-danger">
                    @(ViewBag.ExpireDate.IsEnabledDeducateEveryExpireDay ? "Điểm trừ mỗi ngày muộn:" : "Điểm trừ nộp muộn:") @ViewBag.ExpireDate.DeducatePoint
                </label>
                @Html.Raw("&nbsp;");

            }


        </div>
        <!--End Thời hạn-->
        <!--Thêm HĐ-->
        <div class="pull-right">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-plus"></i> Thêm hoạt động vào báo cáo
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form class="form-horizontal" action="@Url.Action("AddActivityToReport")" enctype="multipart/form-data" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5 class="modal-title" id="exampleModalLabel">Thêm hoạt động</h5>

                            </div>
                            <div class="modal-body">

                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@ViewBag.ReportID" name="reportID" />
                                <div class="form-group">
                                    <label class="control-label col-md-3">Hoạt động:</label>
                                    <div class="col-md-8">
                                        @Html.DropDownList("ActivityID", null, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Thời gian:</label>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="datepicker">
                                            <input name="date" value="@DateTime.Today.ToString("dd/MM/yyyy")" type="text" class="form-control pull-right">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Minh chứng:</label>
                                    <div class="col-md-8">
                                        @*<input type="file" name="file" />
                                            <input type="text" name="OutsideLinkProof" class="form-control">*@
                                        <table>
                                            <tr>
                                                <td style="padding: 5px;"></td>
                                                <td style="padding: 5px">
                                                    <input id="radFromComputer" type="radio" name="FileUpload" value="radFromComputer" checked="checked">
                                                    <label for="radFromComputer"><i class="fa fa-desktop" style="padding:5px"></i>Từ thiết bị</label>
                                                </td>
                                                <td style="padding: 5px">
                                                    <input id="radFromWeb" type="radio" name="FileUpload" value="radFromWeb">
                                                    <label for="radFromWeb"><i class="fa fa-link" style="padding:5px"></i>Liên kết</label>
                                                </td>
                                            </tr>
                                        </table>
                                        <table style="width:100%">
                                            <tr id="trFromComputer">
                                                <td id="formFileUpload" class="form-group">
                                                    <div class="input-group">
                                                        <input name="txtFile" type="text" placeholder="Chọn tệp .rar, .zip, .doc, docx, .pdf, .xls, .xlsx..." readonly="readonly" id="txtfile" class="form-control">
                                                        <span class="group-span-filestyle input-group-btn">
                                                            <button id="btnBrowse" type="button" onclick="document.getElementById('fileUpload').click();" value="Chọn tệp" class="btn btn-primary" style="padding:6px 12px !important; border-radius: 0">
                                                                <i class="fa fa-folder-open"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="trFromWeb" class="hidden">
                                                <td colspan="2" class="form-group">
                                                    <input name="OutsideLinkProof" id="txtUrl" class="form-control" type="url" placeholder="http://">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding:0">
                                                    <input type="file" name="file" id="fileUpload" accept=".rar, .zip, .pdf, .doc, .docx, .jpg, .png, .jpeg, .xls, .xlsx" @*onchange="document.getElementById('txtFile').value = document.getElementById('fileUpload').value;"*@
                                                           style="display: none">
                                                    <span data-val-controltovalidate="fileUpload" id="ctl10" data-val="true" data-val-evaluationfunction="RequiredFieldValidatorEvaluateIsValid"
                                                          data-val-initialvalue="" style="color:Red;">Chọn file bé hơn 15MB!</span>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Điểm tự chấm:</label>
                                    <div class="col-md-8">
                                        <input type="number" step=0.1 lang="en" name="PointSelf" class="form-control">
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">

                                <button type="submit" class="btn btn-primary">OK</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--End Thêm HĐ-->
    </div>
    <div class="clear"></div>
    <br />
    <br />
    <table class="table table-bordered text-center">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DateActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointSelf)
            </th>
            <th>
                Minh chứng
            </th>

            <th></th>

        </tr>

        @{int stt = 1;}
        @foreach (var item in Model)
        {

            <tr>
                <td>@(stt++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointSelf)
                </td>
                <td>
                    @{
            string urlDownload = null;

            if (item.FileUploadProof != null)
            {
                urlDownload = Url.RouteUrl("Download", new { fileName = item.FileUploadProof, type = QLDoanTruong.Common.ConstraintName.PROOF_FILE }, null);

            }
            else
            {
                urlDownload = item.OutsideLinkProof;
            }
                    }
                    @if (urlDownload != null)
                    {
                        <a href="@urlDownload" title="File minh chứng"><i class="fa fa-download"></i> </a>
                    }

                </td>
                <td>
                    @Html.ActionLink(" ", "Delete", new { activityID = item.ActivityID, reportID = item.MonthReportID }, new { @class = "btn fa fa-remove" })
                </td>
            </tr>
        }
    </table>

    if (ViewBag.CanBeSend && Model.Count() > 0)
    {
        <div class="pull-right">
            <form action="@Url.Action("SendReport")" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@ViewBag.ReportID" name="reportID" />
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-send"></i> Gửi báo cáo
                </button>
            </form>
        </div>
    }
}