﻿@model IEnumerable<QLDoanTruong.Model.MonthlyReportDetail>

@{
    ViewBag.Title = "Báo cáo chi tiết tháng "+ ViewBag.Month+"/"+ViewBag.Year;
}
@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
<h4>Thời gian: @ViewBag.SentDate.ToString("HH:mm dd/MM/yyyy")</h4>
<h4>Xếp loại trong tháng: @ViewBag.Rank</h4>

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DateActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointSelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointSubmit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submited)
            </th>
            <th>
                Minh chứng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
        </tr>
        @{int stt = 1;}
        @foreach (var item in Model)
        {

            <tr>
                <td>@(stt++)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Name)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DateActive)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PointSelf)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.PointSubmit)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Submited)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.FileUploadProof)
                </td>*@
            <td class="text-center">
                    @{
                        string urlDownload = null;

                        if (item.FileUploadProof != null)
                        {
                            urlDownload = Url.RouteUrl("Download", new { fileName = item.FileUploadProof, type = QLDoanTruong.Common.ConstraintName.PROOF_FILE }, null);

                        }
                        else
                        {
                            urlDownload = item.OutsideLinkProof;
                        }
                }
                @if (urlDownload != null)
                {
                    <a href="@urlDownload" title="File minh chứng"><i class="fa fa-download"></i> </a>
                }
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem=>item.UpdatedDate)
                </td>
            </tr>
        }
    </table>

    <div class="row">
        <div class="col-md-6 col-md-offset-6 col-sm-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Điểm cộng thêm:
                    </label>
                    <div class="col-md-4" style="padding-right: 0px;">
                        @*<input type="number" pattern="[0-9]+([\.][0-9]+)?" formnovalidate="formnovalidate" step="any" title="Nhập số nguyên hoặc thực" class=" form-control" name="OtherPoint" value="@ViewBag.OtherPoint" />*@
                        <input disabled="disabled" class="form-control" formnovalidate="formnovalidate" name="OtherPoint" value="@ViewBag.OtherPoint" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Lý do:
                    </label>
                    <div class="col-md-8" style="padding-right: 0px;">
                        <textarea disabled="disabled" class="form-control" name="Comment">@ViewBag.Comment</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="pull-right">

    @Html.ActionLink("Xuất Excel", "Export", new { id = ViewBag.ReportID }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("In ấn", "Print", new { id = 3 }, new { @class = "btn btn-success" })*@
</div>

}