﻿@{
    ViewBag.Title = "Báo cáo hoạt động hàng tháng";
  
}

@section scripts{
    <script type="text/javascript">
        $('#divComposeReport').on('click', "a.btn-delete", function (e) {
            var tr = $('tr', '#divComposeReport table').get($(this).closest('tr').index());
            //console.log(tr);
            //$(tr).remove();
            confirmDelete('@Url.Action("DeleteComposeReport")', { id: $(this).data('id') },
                function () { $(tr).remove(); });
            e.preventDefault();
        });
    </script>
}

@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    <h2 class="header text-center" style="text-transform:uppercase">@ViewBag.FacultyName</h2>



    <div class="group-tabs">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a aria-controls="Compose" role="tab" href="#Compose">Soạn thảo</a></li>
            <li role="presentation"><a href="@Url.Action("ReportSent")" aria-controls="ReportSent" role="tab">Báo cáo đã gửi</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Compose">
                <div class="pull-right box-tool">
                    <a class="btn btn-primary" data-toggle="modal" href='#add-report'>
                        <i class="fa fa-plus"></i> Thêm báo cáo
                    </a>
                </div>

                <div id="divComposeReport">
                    @{Html.RenderAction("GetComposeReport", "MonthlyReport", new { page = 1 });}
                </div>

            </div>
            @*<div role="tabpanel" class="tab-pane" id="ReportSent">

                <div id="divReport">
                    @{Html.RenderAction("GetReportSent", "MonthlyReport", new { page = 1 });}
                </div>
            </div>*@
        </div>
    </div>


    <!--Modal Add Report-->
    <div class="modal fade" id="add-report">
        <div class="modal-dialog">
            <div class="modal-content">
                @using (Html.BeginForm("AddComposerReport", "MonthlyReport", FormMethod.Post, new { @class = "form-inline" }))
                {

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Thêm báo cáo</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            @Html.AntiForgeryToken()
                            <!--Date range-->
                            <div class="form-group">
                                <label class="control-label">Báo cáo tháng </label>
                                @Html.DropDownList("Month", null, null, new { @class = "form-control" })
                                /
                                @Html.DropDownList("Year", null, null, new { @class = "form-control" })
                            </div>
                            <!--End daterange-->

                        </div>
                    </div>
                    <div class="modal-footer">
                        
                        <button type="submit" class="btn btn-primary">OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>

                }
            </div>
        </div>
    </div>
    <!--End Modal-->
}