﻿@{
    ViewBag.Title = "Chi tiết Đoàn viên " + ViewBag.Fullname;
    //ViewBag.NoPanel = true;
}

@section styles{
    <link href="~/Assets/addition/css/profile.css" rel="stylesheet" />
}

@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    Html.RenderAction("GetProfile", "YouthUnionMember", new { @id = ViewBag.ID });

    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = ViewBag.ID }) |
        @Html.ActionLink("Trở về", "Index")
    </p>
}