﻿@using QLDoanTruong.Common;

@model QLDoanTruong.Model.ViewModel.SearchMemberViewModel

@{
    ViewBag.Title = "Quản lý Đoàn viên";

}
@section styles{
    <style>
        .col-fix {
            padding-left: 1px;
            padding-right: 0px;
        }

        .row-fix {
            margin-bottom: 2px;
        }
    </style>
}
@section scripts{
    <script>
        function hideClass() {
            if ($('#Type').val() != '@QLDoanTruong.Common.ConstraintUnionMemberType.STUDENT')

                $('#Type').trigger("change");

        }
        $(document).ready(function () {
            //confirm

            $('#UnionMemberArea').on('click', "a.btn-delete", function (e) {

                var tr = $('tr', 'table').get($(this).closest('tr').index());
                confirmDelete('@Url.Action("Delete")', { id: $(this).data('id') },
                    function () { $(tr).remove(); });
                e.preventDefault();
            });



            $('a#btn-add').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                var params = [];

                if ($('#FacultyID').val() != '' && $('#FacultyID').val() != undefined)
                    params.push('facultyID=' + $('#FacultyID').val());
                if ($('#Type').val() != '' && $('#Type').val() != undefined)
                    params.push('type=' + $('#Type').val());
                if ($('#ClassID').val() != '' && $('#ClassID').val() != undefined)
                    params.push('classID=' + $('#ClassID').val());
                if ($('#AcademicYearID').val() != '' && $('#AcademicYearID').val() != undefined)
                    params.push('academicYearID=' + $('#AcademicYearID').val());
                var par = params.join('&');
                if (par != '')
                    url += '?' + par;
                window.location.href = url;
            });
            //toogle with type
            $('#Type').change(function () {
                if ($(this).val() == '@ConstraintUnionMemberType.STAFF') {
                    $('#unit').hide();
                    $('#class').hide();

                }
                else if ($(this).val() == '@ConstraintUnionMemberType.LECTURE') {
                    $('#unit').show();
                    $('#academic').hide();
                    $('#class').hide();

                }
                else {
                    $('#unit').show();
                    $('#academic').show();
                    $('#class').show();

                }

            });
            //load class
            $('#Type, #FacultyID, #AcademicYearID').change(function () {
                $('#ClassID').children('option:not(:first)').remove();

                $.post("@Url.Action("GetClassesStudent")",
                    {
                        memberType: $('#Type').val(),
                        facultyID: $('#FacultyID').val(),
                        academicYearID: $('#AcademicYearID').val()
                    },
                    function (result) {
                        //console.log(result);
                        $.each(result, function (index, item) {
                            $('#ClassID').append($('<option>', {
                                value: item.ID,
                                text: item.Name
                            }));
                        });

                    }, 'json');
            });

            hideClass();

        });
    </script>
}

@if (ViewBag.ErrorMessage != null)
{
    <h3 class="error-message">@ViewBag.ErrorMessage</h3>
}
else
{
    
        <div class="box-tool">
            <div class="form-horizontal">
                <div class="col-md-@((ViewBag.MANAGE_MEMBER || ViewBag.MANAGE_STAFF)?"10":"12")">
                    @using (Html.BeginForm("Index", "YouthUnionMember", FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()

                        <div class="row row-fix">
                            @if (ViewBag.Type != null)
                            {
                                <div class="col-md-3 col-fix">
                                    @Html.DropDownList("Type", null, new { @class = "form-control" })
                                </div>
                            }

                            <div id="unit">
                                @if (ViewBag.FacultyID != null)
                                {
                                    <div class="col-md-4 col-fix">
                                        @Html.DropDownList("FacultyID", null, "--- Chọn Liên Chi đoàn ---", new { @class = "form-control" })
                                    </div>
                                }
                                @if (ViewBag.AcademicYearID != null)
                                {
                                    <div class="col-md-1 col-fix" id="academic">
                                        @Html.DropDownList("AcademicYearID", null, new { @class = "form-control" })
                                    </div>
                                }
                            </div>
                            @if (ViewBag.ClassID != null)
                            {
                                <div class="col-md-4 col-fix" id="class">
                                    @Html.DropDownList("ClassID", null, "--- Chọn chi đoàn ---", new { @class = "form-control" })
                                </div>
                            }
                        </div>

                        <div class="row row-fix">
                            <div class="col-md-3 col-fix">
                                @Html.DropDownList("ReligionID", null, "--- Chọn tôn giáo ---", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3 col-fix">
                                @Html.TextBoxFor(m => m.MemberCode, new { @class = "form-control", @placeholder = "Mã SV/CB" })
                            </div>
                            <div class="col-md-3 col-fix">
                                @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control", @placeholder = "Họ tên" })

                            </div>
                            <div class="col-md-3 col-fix">
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Số điện thoại" })
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-search"></i> Tìm kiếm </button>
                            <button type="submit" formaction="@Url.Action("ExportExcel")" class="btn btn-default">
                                <i class="fa fa-file-excel-o"></i> Xuất Excel
                            </button>
                        </div>
                    }
                </div>
                @if (ViewBag.MANAGE_MEMBER || ViewBag.MANAGE_STAFF)
                {
                    <div class="col-md-2">

                        <div class="row row-fix">
                            <a href="@Url.Action("Create")" class="btn btn-primary col-md-12" id="btn-add"> <i class="fa fa-plus"></i> Thêm Đoàn viên</a>
                        </div>
                        @if (ViewBag.VIEW_ALL_MEMBER)
                        {
                            <div class="row row-fix">
                                <a href="@Url.Action("Import")" class="btn btn-warning col-md-12"> <i class="fa fa-upload"></i> Nhập dữ liệu</a>
                            </div>
                        }
                    </div>
                }

            </div>

        </div>
        <div class="clearfix"></div>
        <div id="UnionMemberArea">
            @{Html.RenderAction("GetMembers", "YouthUnionMember", new { page = 1 });}
        </div>
}
