﻿@model IEnumerable<QLDoanTruong.Model.ViewModel.MonthlyReportViewModel>


<table class="table table-bordered table-responsive table-hover tblxephang">
    <thead>
        <tr class="text-info">
            <th class="text-center">Hạng</th>
            <th class="text-center">Đơn vị</th>
            <th class="text-center">Điểm</th>
            <th nowrap class="text-center">
                <i class="fa fa-caret-up" style="color:green"></i>
                <i class="fa fa-caret-down" style="color:red"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @(item.Submited == false ? "---" : item.Rank.ToString())
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FacultyName)
                </td>

                <td class="text-center">
                    @(item.Submited == false ? "---" : item.PointSum.ToString())

                </td>

                <td class="text-center">
                    @if (item.Submited)
                    {
                        string color = "color:orange";
                        if (item.ComparePreviousMonth < 0)
                        { color = "color:red"; }
                        else if (item.ComparePreviousMonth > 0)
                        {
                            color = "color:green";
                        }

                        <span style="@color">
                            @(item.ComparePreviousMonth >= 0 ? "+" : "") @item.ComparePreviousMonth
                        </span>
                    }
                    else
                    {
                        <span>---</span>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
