﻿@model List<QLDoanTruong.Model.MonthlyReportDetail>

@{
    ViewBag.Title = String.Format("Báo cáo chi tiết tháng {0:00}/{1}", ViewBag.Month, ViewBag.Year);
}

@section scripts{
    <script>
        $(function () {
            //$('input[type="number"]').change(function () {
            //    alert($(this).val());
            //});
            $('.txtPoint').change(function () {
                if ($(this).val() != 0) {
                    $(this).closest('tr').find('td:eq(5) input:checkbox').prop('checked', true);
                }
            });
        });
    </script>
}


<h4>Ngày gửi: @ViewBag.SentDate</h4>
<h4>LCĐ: @ViewBag.FacultyName</h4>
<h4>Xếp loại trong tháng: @ViewBag.Rank</h4>

@using (Html.BeginForm("Submit", "MonthlyReport"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@ViewBag.MonthReportID" name="MonthReportID" />

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>
                Tên hoạt động
            </th>

            <th>
                Ngày hoat động
            </th>
            <th>
                Điểm tự chấm
            </th>
            <th>
                Điểm xác nhận
            </th>
            <th>
                Xác nhận
            </th>
            <th>
                Minh chứng
            </th>
            <th>
                Ngày cập nhật
            </th>
            @*<th></th>*@
        </tr>
        @for (var i = 0; i < Model.Count(); i++)
        {

            <tr>
                <td class="text-center">@(i + 1)</td>
                <td>
                    @Html.HiddenFor(m => m[i].ActivityID)
                    @Html.DisplayFor(m => m[i].Activity.Name)
                </td>

                <td class="text-center">
                    @Html.DisplayFor(m => m[i].DateActive)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(m => m[i].PointSelf)
                </td>
                <td class="text-center">
                    @Html.TextBoxFor(m => m[i].PointSubmit, new { @type = "number", step = "any", @lang = "en", @class = "txtPoint" })

                </td>
                <td class="text-center">
                    @Html.CheckBoxFor(m => m[i].Submited)
                </td>
                <td class="text-center">
                    @{
            string urlDownload = null;

            if (Model[i].FileUploadProof != null)
            {
                urlDownload = Url.RouteUrl("Download", new { fileName = Model[i].FileUploadProof, type = QLDoanTruong.Common.ConstraintName.PROOF_FILE }, null);

            }
            else
            {
                urlDownload = Model[i].OutsideLinkProof;
            }
                    }
                    @if (urlDownload != null)
                    {
                        <a href="@urlDownload"><span class="fa fa-download"></span> </a>
                    }

                </td>
                <td class="text-center">
                    @Html.DisplayFor(m => m[i].UpdatedDate)
                </td>
                @*<td></td>*@
            </tr>
        }
    </table>

    <div class="row">
        <div class="col-md-6 col-md-offset-6 col-sm-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Điểm cộng thêm:
                    </label>
                    <div class="col-md-4" style="padding-right: 0px;">
                        @*<input type="number" pattern="[0-9]+([\.][0-9]+)?" formnovalidate="formnovalidate" step="any" title="Nhập số nguyên hoặc thực" class=" form-control" name="OtherPoint" value="@ViewBag.OtherPoint" />*@
                        <input type="number" step="any" class="form-control" formnovalidate="formnovalidate" name="OtherPoint" value="@ViewBag.OtherPoint" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">
                        Lý do:
                    </label>
                    <div class="col-md-8" style="padding-right: 0px;">
                        <textarea class="form-control" name="Comment">@ViewBag.Comment</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="pull-right">
        @if (ViewBag.SubmitReport)
        {

            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i> Xác nhận
            </button>

        }
        <a href="@Url.Action("Index", new { month = ViewBag.Month, year = ViewBag.Year})" class="btn btn-default">Trở về</a>
    </div>
}
