﻿@model QLDoanTruong.Model.MonthlyReportExpireDate

@{
    ViewBag.Title = "Thiết lập thời hạn báo cáo tháng " + Model.Month.ToString("00") + "/" + Model.Year;
}

@section styles{
    <link href="~/Assets/addition/css/bootstrap-datepicker.min.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/Assets/addition/js/moment.js"></script>
    <script src="~/Assets/addition/js/moment-with-locales.min.js"></script>
    <script src="~/Assets/addition/js/bootstrap-datepicker.min.js"></script>


    <script type="text/javascript">

        $(function () {
            $('#datetimepicker2').datetimepicker({
                locale: 'vi',
                format: 'H:mm DD/MM/YYYY'
            });
            $('#datetimepicker3').datetimepicker({
                locale: 'vi',
                format: 'H:mm DD/MM/YYYY'
            });



            $('#IsEnabledCutOffDate').change(function () {
                //alert(this.checked);
                $('div#cut-off-date').fadeToggle();
            });
        });

    </script>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        @ViewBag.ErrorMessage
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-md-2">Ngày hết hạn: </label>
            <div class="col-md-3">
                <div class='input-group date' id='datetimepicker2'>
                    @Html.TextBoxFor(m => m.DueDate, "{0:H:mm dd/MM/yyyy}", new { @class = "form-control"})
                    
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.DueDate)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày cắt: </label>
            <div class="col-md-3">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsEnabledCutOffDate) Cho phép nạp muộn
                </label>
                <br />
                <br />
                <div id="cut-off-date" @(!Model.IsEnabledCutOffDate ? "style=display:none;" : "")>
                    <div class='input-group date' id='datetimepicker3'>
                        @Html.TextBoxFor(m => m.CutOffDate, "{0:H:mm dd/MM/yyyy}", new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.CutOffDate)
                    <br />

                    <div class="row" >
                        <label class="control-label col-md-4" style="text-align:left; padding-left:0px;">Điểm trừ:</label>
                        <div class="col-md-8" style="padding:0px;">
                            @Html.TextBoxFor(m => m.DeducatePoint, new { type="number", lang="en", step=0.1, @class = "form-control" })
                        </div>
                    </div>
                    <label class="control-label">
                        @Html.CheckBoxFor(m => m.IsEnabledDeducateEveryExpireDay) Trừ điểm hằng ngày
                    </label>
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                &nbsp;

                <input type="hidden" name="month" value="@Model.Month" />
                <input type="hidden" name="year" value="@Model.Year" />
               
                <a href="@Url.Action("Index", new { month=Model.Month, year = Model.Year})" class=" btn btn-default">Hủy bỏ</a>
            </div>

        </div>
    </div>
}
